[submodule "crates/cpu/tests/SingleStepTests/v20"]
	path = crates/cpu/tests/SingleStepTests/v20
	url = https://github.com/hasenbanck/v20
[submodule "crates/cpu/tests/SingleStepTests/80286"]
	path = crates/cpu/tests/SingleStepTests/80286
	url = https://github.com/SingleStepTests/80286
[submodule "crates/cpu/tests/SingleStepTests/80386"]
	path = crates/cpu/tests/SingleStepTests/80386
	url = https://github.com/SingleStepTests/80386
[submodule "crates/cpu/tests/SingleStepTests/z80"]
	path = crates/cpu/tests/SingleStepTests/z80
	url = https://github.com/hasenbanck/z80
[submodule "crates/cpu/tests/SingleStepTests/8088"]
	path = crates/cpu/tests/SingleStepTests/8088
	url = https://github.com/SingleStepTests/8088
[submodule "crates/cpu/tests/SingleStepTests/8086"]
	path = crates/cpu/tests/SingleStepTests/8086
	url = https://github.com/SingleStepTests/8086
[submodule "crates/cpu/tests/SingleStepTests/6809"]
	path = crates/cpu/tests/SingleStepTests/6809
	url = https://github.com/neetandev/m6809
